header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 5rem;
}

header .menu {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  position: relative;
}

header .menu a {
  color: #2c3e50;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
}

header .menu a:hover {
  color: #0282f9;
}

header li {
  position: relative;
}

header li::before {
  position: absolute;
  content: "";
  bottom: -2.9rem;
  width: 100%;
  height: 4px;
  background: #0282f9;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

header li:hover::before {
  transform: scaleY(1);
}

header .active a {
  color: #0282f9;
}

header .active::before {
  transform: scaleY(1);
}

main.homepage {
  color: white;
  background: #1c1c1c;
}

main.homepage .hero {
  height: 20rem;
  background-image: url("/img/jumbotron.jpg");
  background-position: top center;
  background-size: cover;
  position: relative;
}

main.homepage .hero .active-series {
  position: absolute;
  transform: translateY(50%);
  bottom: 0;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 1px;
  background-color: #0282f9;
}

main.homepage .contents {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 1.5rem 0;
}

main.homepage .contents .card {
  padding: 0.4rem;
  border-radius: 2px;
  background-color: #292929;
  flex-basis: calc(16.6666666667% - 0.6666666667rem);
  display: flex;
}

main.homepage .contents .card:hover img {
  opacity: 0.6;
}

main.homepage .contents .card a {
  color: #0075f9;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

main.homepage .contents .card a img {
  width: 100%;
}

main.homepage .contents .card a .definition {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main.homepage .contents .card a .definition h5 {
  padding-top: 0.6rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}

main.homepage .contents .card a .definition h2 {
  text-transform: uppercase;
  word-break: break-word;
  font-size: 1.2rem;
  padding: 0.3rem 0;
  flex-grow: 1;
}

main.homepage .contents .card a .definition p {
  align-self: end;
  font-size: 0.9rem;
  color: #66e06b;
  font-weight: 700;
  text-transform: uppercase;
}

main.homepage .more {
  padding: 1rem 0;
  text-align: center;
}

main.homepage .more button {
  border: none;
  border-radius: 1px;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  background: #0282f9;
  transition: 0.3s;
  cursor: pointer;
}

main.homepage .more button:hover {
  box-shadow: inset 0px 0px 0 2px;
  border-radius: 5px;
}

main.card-focus {
  color: #003f5a;
  background: white;
}

main.card-focus .hero {
  height: 20rem;
  background-image: url("/img/jumbotron.jpg");
  background-position: top center;
  background-size: cover;
}

main.card-focus .container {
  display: flex;
  gap: 2rem;
}

main.card-focus .blue-banner {
  height: 3rem;
  width: 100%;
  background-color: #0282f9;
  position: relative;
}

main.card-focus .blue-banner .active-series {
  width: 9rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  padding: 0.1rem;
  border-radius: 1px;
  background-color: white;
}

main.card-focus .blue-banner .active-series img {
  width: 100%;
}

main.card-focus .more-infos {
  box-shadow: 0 -1px 0 0 #d3d3d3;
  background-color: #f6f6f6;
}

main.card-focus .more-infos .talent,
main.card-focus .more-infos .specs {
  flex-basis: calc(50% - 1rem);
}

main.card-focus .more-infos .info {
  display: flex;
  flex-wrap: wrap;
}

main.card-focus .more-infos .info h5 {
  flex-basis: 30%;
}

main.card-focus .more-infos .info p {
  flex-basis: 70%;
  font-size: 0.8rem;
}

main.card-focus .more-infos .info p a {
  color: #0282f9;
  text-decoration: none;
}

.panel-menu {
  background: #0282f9;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.menu li:last-child {
  height: 3.5rem;
  display: flex;
}

.menu li:last-child img {
  height: 1.7rem;
}

.menu li {
  border: 0.5rem solid transparent;
  border-radius: 1px;
}

.menu li:hover {
  outline: 2px solid white;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.menu a img {
  height: 2.5rem;
}

footer .hero-footer {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
}

footer .hero-footer .container {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
  background-image: url("/img/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 450px;
}

footer .hero-footer .container > div {
  padding-bottom: 1.5rem;
}

footer .hero-footer .container h2 {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 0;
}

footer .hero-footer .container ul {
  list-style: none;
}

footer .hero-footer .container ul a {
  color: #999;
  text-decoration: none;
  font-size: 0.8rem;
}

footer .hero-footer .container ul a:hover {
  color: #008dff;
}

footer .bottom-footer {
  background: #303030;
}

footer .bottom-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

footer .bottom-footer button {
  padding: 0.6rem;
  background: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #008dff;
  border-radius: 2px;
}

footer .bottom-footer button:hover {
  background: #008dff;
}

footer .bottom-footer .contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .bottom-footer .contacts h2 {
  color: #008dff;
  font-size: 1rem;
}

footer .bottom-footer .contacts .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .bottom-footer .contacts .menu a {
  display: flex;
}

footer .bottom-footer .contacts .menu img {
  height: 1.8rem;
}

footer .bottom-footer .contacts .menu img:hover {
  opacity: 0.4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.container {
  width: min(75%, 1200px);
  margin: auto;
  padding: 1rem 0;
}

