main.card-focus {
    color: #003f5a;
    background: white;
    .hero {
      height: 20rem;
      background-image: url("/img/jumbotron.jpg");
      background-position: top center;
      background-size: cover;
    }
    .container {
      display: flex;
      gap: 2rem;
    }
    .blue-banner {
        height: 3rem;
        width: 100%;
        background-color: #0282f9;
        position: relative;
        .active-series {
            width: 9rem;
            display: flex;
            position: absolute;
            bottom: 1rem;
            padding: 0.1rem;
            border-radius: 1px;
            background-color: white;
            img {
                width: 100%;
            }
        }
    }
    .more-infos {
      box-shadow: 0 -1px 0 0 #d3d3d3;
      background-color: #f6f6f6;
      .talent,
      .specs {
        flex-basis: calc(50% - 1rem);
      }
      .info {
        display: flex;
        flex-wrap: wrap;
        // gap: 3rem;
        h5 {
          flex-basis: 30% ;
        }
        p {
          flex-basis: 70%;
          font-size: 0.8rem;
          a {
            color: #0282f9;
            text-decoration: none;
          }
        }
      }
    }
}
  