main.homepage {
    color: white;
    background: #1c1c1c;
    .hero {
      height: 20rem;
      background-image: url("/img/jumbotron.jpg");
      background-position: top center;
      background-size: cover;
      position: relative;
      .active-series {
        position: absolute;
        transform: translateY(50%);
        bottom: 0;
        font-size: 0.9rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        border-radius: 1px;
        background-color: #0282f9;
      }
    }
    .contents {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8rem;
        padding: 1.5rem 0;
        .card {
            padding: 0.4rem;
            border-radius: 2px;
            background-color: #292929;
            flex-basis: calc(100% / 6 - 0.8rem * 5 / 6);
            display: flex;
            &:hover {
                // h2 {
                //     color: #0075f9;
                // }
                img {
                    opacity: 0.6;
                    // aspect-ratio: auto;
                }
            }
            a{
                color: #0075f9;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                // &:visited {
                // }
                img {
                    width: 100%;
                    // aspect-ratio: 1/1;
                    // object-fit: cover;
                    // object-position: top;
                }
                .definition {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    h5 {
                        padding-top: 0.6rem;
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        // color: #0075f9;
                        font-weight: 700;
                    
                    }
                    h2 {
                        text-transform: uppercase;
                        word-break: break-word;
                        font-size: 1.2rem;
                        padding: 0.3rem 0;
                        flex-grow: 1;
                    }
                    p {
                        align-self: end;
                        font-size: 0.9rem;
                        color: #66e06b;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .more {
      padding: 1rem 0;
      text-align: center;
      button {
        border: none;
        border-radius: 1px;
        color: white;
        font-size: 0.8rem;
        font-weight: 700;
        padding:  0.5rem 1.5rem;
        background: #0282f9;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            box-shadow: inset 0px 0px 0 2px;
            border-radius: 5px;
        }
      }
    }
}
  