main.card-focus {
    color: #003f5a;
    background: white;
    .hero {
      height: 20rem;
      background-image: url("/img/jumbotron.jpg");
      background-position: top center;
      background-size: cover;
    }
    .container {
      padding: 3rem 0;
      display: flex;
      gap: 2rem;
    }
    .blue-banner {
        height: 3rem;
        width: 100%;
        background-color: #0282f9;
        position: relative;
        .active-series {
            width: 9rem;
            display: flex;
            position: absolute;
            bottom: 1rem;
            padding: 0.1rem;
            border-radius: 1px;
            background-color: white;
            img {
                width: 100%;
            }
        }
    }
    .advertisement {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-end;
    }
    .green-banner {
      display: flex;
      color: white;
      font-size: 0.9rem;
      margin: 1rem auto;
      // padding: 0.5rem 1rem;
      background-color: #55ba59;
      .status {
        display: flex;
        justify-content: space-between;
        box-shadow: 1px 0 0 0 #acf488;
        padding: 0.5rem 1rem;
        flex-grow: 1;
        span,
        div {
          color: #acf488;
        }
      }
      .check-status {
        padding: 0.5rem 1rem;
      }
    }
    p.description {
      font-size: 0.9rem;
      color:  #555554;
    }
    .more-infos {
      box-shadow: 0 -1px 0 0 #d3d3d3;
      background-color: #f6f6f6;
      .talent,
      .specs {
        flex-basis: calc(50% - 1rem);
      }
      .talent a::after {
        content: ", ";
      }
      .talent a:last-of-type::after{
        display: none;
      }
      h3 {
        padding: 0 0 1.5rem;
        box-shadow: 0 1px 0 0 #d3d3d3;
      }
      .info {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 0;
        box-shadow: 0 1px 0 0 #d3d3d3;
        h5 {
          flex-basis: 30% ;
        }
        p {
          flex-basis: 70%;
          font-size: 0.8rem;
          a {
            color: #0282f9;
            text-decoration: none;
          }
        }
      }
    }
}
  